@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(12, 0, 24);
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto;
}

.navbar {
    height: 50px;
    width: 98vw;
    padding: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    box-shadow: 0 0 100px 80px black,
        inset 0 0 30px 30px black;
    position: fixed;
    top: 0;
    background-color: rgb(12, 0, 24);
}

.lnav {
    color: rgb(132, 0, 255);

}


.rnav {
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
}

.rnavlinks {
    border: none;
    background: none;
}

.rnavlinks a {
    color: rgb(132, 0, 255);
    text-decoration: none;

}

#navbodydiv {
    width: 88vw;
    align-self: center;
    border: 1px solid rgb(47, 20, 90);
}

main {
    margin-top: 6vw;
    width: 98vw;
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
    width: 98vw;
}

.sec1main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
    width: 98vw;
}

.sec1mainl {
    font-size: 2rem;
}

.purple {
    color: rgb(112, 66, 199);
}

.sec1main hr {
    height: 75vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.sec1mainr {
    display: flex;
    flex-direction: column;
}

.sec1mainr button {
    border: none;
    background: rgb(18, 1, 36);
    cursor: pointer;
    color: rgb(136, 72, 255);
    font-size: 1.25rem;
    border-radius: 2vw;
    padding: 3vh;
    box-shadow: 0 0 2vw 2vh black;
}

.sec1mainr img {
    width: 25vw;
}

#page2 {
    font-size: 2rem;
}

.sec2main {
    display: flex;
    flex-direction: row;
}

.sec2main>hr {
    margin: 2vw;
}

.formcard {
    width: 54vw;
    height: 75vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: medium;
    background-color: rgb(42, 2, 80);
    box-shadow: 0 0 50px 30px black,
        inset 0 0 50px 30px black;
    border: 2px solid black;
    border-radius: 50px;
    margin: 5vw;
}

.formcard hr {
    width: 46vw;

}

.formcard p {
    color: rgb(112, 66, 199);
}

.formcard button {
    border: none;
    background: none;
    color: white;
}

.formcard button :hover {
    cursor: pointer;
}

.formcard .input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px 2px black,
        inset 0 0 20px 1px rgb(0, 0, 0);
    padding: 1vh;
    border-radius: 20px;
    border: 2px solid black;
    width: 25vw;
}

.formcard .input input {
    border: 1px solid rgb(11, 1, 22);
    background: rgb(31, 3, 58);
    width: 15vw;
    padding: 1vh;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgb(53, 9, 88),
        inset 0 0 20px 1px rgb(57, 20, 92);
}

.formexplain {
    width: 27vw;
    height: 75vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: medium;
    background-color: rgb(42, 2, 80);
    box-shadow: 0 0 50px 30px black,
        inset 0 0 50px 30px black;
    border: 2px solid black;
    border-radius: 50px;
    margin: 5vw;
}

.formexplain hr {
    width: 23vw;
}

.formexplain pre {
    white-space: pre-wrap;
    /* wraps long lines to the next line */
    word-wrap: break-word;
    /* breaks long words if needed */
    overflow-x: auto;
    /* scrolls horizontally if it still overflows */
    max-width: 100%;
    /* keeps it inside its parent box */
    box-sizing: border-box;
}

.sec3main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
    width: 98vw;
    font-size: 1rem;
}

#page3 {
    font-size: 2rem;
}

.formcard {
    width: fit-content;
    padding: 5vw;
}

.formcard table input {
    background: none;
    border: 2px solid black;
    border-radius: 20px;
    height: 30px;
    padding: 15px;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 10px 5px black,
        inset 0 0 5px 3px black;
    margin: 0.7vh;
}

.formcard table input:focus {
    outline: none;
}

#calculate {
    padding: 15px;
    font-size: 20px;
}

#calculate:hover {
    color: rgb(112, 66, 199);
}

.formcard ol li {
    font-size: 1.5rem;
    margin: 3vw;
    margin-left: 6vh;
    white-space: normal;
    font-weight: 800;
}

footer {
    background-color: rgb(90, 52, 116);
    height: 25vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
}

.github {
    align-self: center;
    justify-self: center;
}
